body {
  background-color: #fff;
}

/* header */
header {
  background: #fff;
  position: fixed;
  width: 100%;
}

header a {
  box-sizing: border-box;
  width: 25%;
  display: inline-block;
  margin-left: -3px;
  text-align: center;
  padding: 12px;
  background: #F3F3F3;
}

.fas {
  color: black;
  font-size: 25px;
}
