@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

html, body {
  background-color: #fff;
  max-width: 100%;
  overflow-x: hidden;
}

/* header */
.top-nav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  border-bottom: 1px solid lightgrey;
}

.top-nav img {
  padding: .1em 7%;
  margin: .3% 33%;
  width: 20%;


}

.top-nav a {
  box-sizing: border-box;
  width: 35%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 2px;
}

/* profile header */
.container {
  width: 100%;
  height: auto;
  position: relative;
}

.container img {
  width: 100%;
  opacity: .5;


}

.text-top {
  display: block;
  color: black;
  z-index: 100;
  position: absolute;
  font-size: 24px;
  left: 25%;
  top: 50%;
  text-align: center;
}

h1 span {
  display: block;
}

span {
  margin: 0 15px;
}
.text-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 20%;
  font-size: 20px;
}


.profile-icons {
  background: green;
  width: 100%;
  height: 25px;
}

.container-two {
  width: 100%;
  height: auto;

}

.profile-images {

  padding: 1%;
  margin: 1%;
}

.profile-images img {
  width: 30%;
  max-height: 190px;
  display: inline-block;
  padding: inherit;
}



/* footer */
footer {
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: .7em;
}

footer a {
  box-sizing: border-box;
  width: 24%;
  display: inline-block;
  margin-left: -3px;
  text-align: center;
  padding: 12px;
  background: #fff;
}

.fas {
  color: black;
  font-size: 25px;
}
